$font_title:'Oswald',
sans-serif;
$font_number:'Days One',
sans-serif;
$font_main:'Roboto',
sans-serif;
$color_white: #fff;
$color_black: #000;
$color_purple: #B24AE2;
$color_yellow: #D8EB00;
$color_neon: #9304e6;